/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

@media (min-width: 600px) {
  .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
  grid-gap: 10px;
}
body {
  height: 100%;
  font: 18px/1.5 "Quattrocento Sans", Helvetica, Arial, sans-serif;
  background: #ebebeb;
}
header {
  display: block;
  width: 100%;
  min-height: 240px;
  height: 45%;
  /*position: relative;
  overflow: hidden; */
  background: #fade26;
}
.item1 {
  display: grid;
  padding-left: 20px;
  padding-right: 10px;
}
.item2 {
  display: grid;
  padding-left: 20px;
  padding-right: 10px;
}
.item3 {
  display: grid;
  padding-left: 20px;
  padding-right: 10px;
}
.item4 {
  display: grid;
  padding-left: 20px;
  padding-right: 30px;
}
.item5 {
  display: grid;
  padding-right: 10px;
  padding-left: 30px;
}
.p {
  display: grid;
  grid-column: 1/1;
}
.img {
  width: 300px;
  border-radius: 5px 50px 5px;
}
.img1 {
  margin-top: 120px;
  min-height: 240px;
  border-radius: 5px 70px 5px;
}
